#set-length {
  display: none;
}

.is-danger.is-white {
  border-color: #fff;
  color: #fff;
  border-width: 1px;
  background-color: rgba(0, 0, 0, 0);
}

.is-danger.is-white:hover {
  border-color: #fff;
  color: #fff;
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}